@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/papyrus.png") repeat;
}

a, h1, h3, p {
    font-family: "Thasadith", sans-serif;
}

.main-container {
    width: 100%;
    max-width: 100em;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    margin: 0 auto;
    margin-top: 7rem;
}

.introduction {
    display: block;
    margin: 2em auto 0 auto;
    width: 70%;
    text-align: center;
    font-size: 2rem;
}

.introduction h3 {
    font-family: 'Poppins';
}

.introduction #wait {
    font-size: 2em;    
}

.header {
    display: flex;
    justify-content: center;
}

.header h3 {
    flex-grow: 0;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
    font-weight: 200;
}

.header #before, .header #after {
    background: #003223ad;
    height: 0.1rem;
    flex-grow: 1;
    margin: auto 2em;
}



.concept {
    margin: 7em auto; 
    display: flex;
    justify-content: space-between;
}

.concept:nth-child(odd) {
    flex-direction: row-reverse;   
}

@media screen and (min-width: 1100px) {
    .concept {
        justify-content: space-around;
    }
}

.concept-content {
    margin: 0 0.6em;
    padding: 2em;
    max-width: 40em;
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: space-around;
}

.concept-content h1 { 
    font-family: 'Poppins';
    font-size: 3em;
}

.concept-content p {
    flex-basis: 8em;
    font-size: 1.6em;
}

.concept-image {
    margin: 0 1em;
    flex: 9;
    max-height: 40em;
    max-width: 50em;
    overflow: hidden;
}

.concept-image img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: auto;
}


.more {
    width: 100%;
    display: flex;
    background: #0065c4 ;
    justify-content: center;
    margin: 1em auto;
}

.more h1 {
    margin: auto 0;
    margin-right: 3em;
    color: azure;
    text-align: center;
    font-family: 'Poppins';
    font-size: 2em;
}

.more .contact-link {
    padding: 2em;
    background: #00b47e;
}

.more a {
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    .concept {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .concept, .header {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .concept, .header{
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {

    .introduction {
         font-size: 20px;
    }

    .concept {
        margin: 3em 1em;
        padding: 3rem;
        display: block;
        font-size: 11px;
    }

    .concept-content, .concept-image {
        padding: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .concept-content h1 {
        text-align: center;
    }

    .concept:nth-child(even),  .concept:nth-child(odd) {
        flex-direction: column;
    }
    
    .more {
        flex-direction: column;
    }

    .more h1, .more a {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}