header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #0088aa;
}

.container {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;   
}

.header_left {
    display: flex;
    justify-content: flex-start;
}

#side-menu-link {
    display: grid;
    place-content: center;    
}

.side-menu-icon {
    padding: 10px;
}


@media screen and (min-width: 750px) {
    #side-menu-link {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .header_right nav {
        display: none;
    }
}


.header_name {
    font-size: 3.2em;
    margin-left: 40px;
    font-family: "Lobster Two", cursive;
    font-style: italic;
    color: white;
}



.header_right {
    display: flex;
    justify-content: flex-end;
}

nav {
    padding: 1.1em 0.9em;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 10px;
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -ms-transition: 200ms ease;
    -o-transition: 200ms ease;
}

.nav_links a:hover {
    box-shadow: 0 10px 0 -7px #00ff00a6;
}

#gitlink {
    clip-path: circle(45%);
}

@media screen and (max-width: 750px) {

    .header_name {
        font-size: 2em;
        margin: auto 1em;
    }

    #github {
        width: 46px;
        height: 46px;
        padding: 2px;
    }
}

.side-nav {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    top: 0;
    left: 0;
    background: #3a3a3a;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.side-nav {
    z-index: 5;
    overflow-x: hidden;
}


#side-nav-image {
    width: 100%;
    height: 10em;
    background: url('../images/sidenav-background.png') no-repeat center center;
    background-size: cover;
}

.side-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}

.btn-close {
    position: absolute;
    background-color: #3a3a3a;
    right: 0;
    top: 0;
    padding: 10px 10px;
    margin-right: 0px;
}

.btn-close:hover {
    background-color: red;
}

.side-nav__link {
    padding: 0.7em 15px 0.7em 40px;
}

.side-nav__link:hover {
    background-color: #1f1f1fb7;
}