@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/papyrus.png") repeat;
}

a, h1, h3, p {
    font-family: "Thasadith", sans-serif;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    position: relative;
    width: 100%;
    background: #3a3a3a url('../images/header-background-resized.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.intro-left, .intro-right {
    display: inline-block;
    height: 32em;   
    overflow: hidden;
}

.intro-left {
    min-width: 23em;
    width: 40%;
    max-width: 38em;
    position: relative;
}

.layer-profile {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer-profile figure {
    display: block;
    margin: 6em 16%;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    clip-path: circle(50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

#profile-pic {
    margin-top: -0.7em;
}

.intro-shape {
    position: absolute;
    margin-top: 0px;
    height: 100%;
}

.intro-shape img {
    margin-top: -1px;
    width: 100%;
    height: 101%;
    filter: hue-rotate(10deg);
}

.intro h1 {
    margin: 3rem 10% 4rem 10%;
    text-align: right;
    font-style: normal;
    color: #ffffff;
    font-weight: 24;
    font-size: 4rem;
    letter-spacing: 0.05em;
}

.short-about {
    margin-left: 15%;
    margin-right: 10%;
    max-width: 60em;
    min-width: 10em;
    padding: 20px 40px;
    background-color: #363636c7;
}

.intro-right h1, .intro-right #quote {
    display: block;    
}

.short-about p {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4em;
}

.short-about p::before {
    content: open-quote;
    margin-right: 10px;
    font-size: 30px;
    font-weight: 700;
}

.short-about p::after {
    content: close-quote;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
}

.short-about h3 {
    margin-top: 20px;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 1.4em;
    text-align: right;
}

@media screen and (max-width: 950px) {
    .intro h1 {
        margin-left: 20px;
        margin-bottom: 1.5em;
        font-size: 3em;
    }
    
    .short-about p {
        font-size: 1.3em;
    }

    .short-about h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 800px) {
    .intro h1 {
        margin-bottom: 1em;
        font-size: 2.4em;
    }

    .short-about p {
        font-size: 1.3em;
    }

    .short-about h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 750px) {
    
    .intro {
        width: 100vw;
        min-height: 40em;
        flex-direction: column;
    }

    .intro-shape {
        display: none;
    }
    
    .intro-left, .intro-right {
        overflow: unset;
        width: inherit;
        min-width: unset;
        max-width: unset;
        min-height: 20em;
    }

    .intro-left {
        height: 24em;
        min-height: 23em;
    }
    
    .layer-profile {
        position: relative;
        top: 2rem;
        margin: 0 auto;
        width: 30%;
        height: 100%;
        min-width: 18em;
    }
    
    .layer-profile figure {
        margin: unset;
        width: 100%;
        padding-bottom: 100%;
    }
    
    .intro-left, .intro-right {
        position: relative;
        display: inline-block;
    }
    
    .intro h1 {
        text-align: center;
        margin: unset;
        letter-spacing: 0.03em;
        font-size: 2.9em;
    }
    
    .short-about {
        position: relative;
        margin: 3em auto;
        float: unset;
    }
    
}

@media screen and (max-width: 500px) {
    .intro h1 {
        margin-bottom: 1.5em;
        font-size: 2.3em;
    }

    .short-about p {
        font-size: 1.4rem;
    }

    .short-about h3 {
        font-size: 1.4rem;
    }
}

.content {
    width: 90%;
    margin: 2rem auto;
    background:linear-gradient(220deg, #f38200c5, rgba(174, 0, 255, 0.884));
    text-align: center;
    height: 50vh;
    display: grid;
    place-content: center;
    color: white; 
}

.content h1 {
    font-family: 'Anton';
    font-weight: 50;
    letter-spacing: 10px;
}

footer {
    background: #3a3a3a;
    position: absolute;
    width: 100%;
    bottom: 1;
    right: 0;
    left: 0;
}

.contact-footer {
    margin: 2em 1em;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.message-container, .email-me-wrapper {
  margin-right: 2em;
  margin-left: 1em;
  display: inline-block;
}

.message-container {
    max-width: 35em; 
    min-width: 10em;
    width: 40%;
}

#message-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.message-container h3 {
    float: left;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}

#message {
    margin-top: 2em;
    margin-bottom: 2em;
    outline: none;
    padding: 8px 5%;
    width: 90%;
    height: 12em;
    resize: none;
    background: #fffffff3;
    border: 0 none;
    border-color: transparent; 
}

#send {
    height: 2.4em;
    width: 9em;
    color: white;
    font-weight: 400;
    background: linear-gradient(45deg, #4524ff, #ff4e18);
    cursor: pointer;
    border: 0 none;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    transition: 100ms ease-in;
    -webkit-transition: 100ms ease-in;
    -moz-transition: 100ms ease-in;
    -ms-transition: 100ms ease-in;
    -o-transition: 100ms ease-in;
}

#send:hover {
    background-image: linear-gradient(45deg, #2600ff, #ff764d);
}

.email-me {
    padding: 1.7em 0em;
}

.email-me h3, .email-me h1 {
    text-align: right;
    color: white;
    letter-spacing: 1px;
}

.email-me h3 {
    font-weight: 400;
    font-size: 1.2em;
}

.email-me h1 {
    font-weight: 500;
    font-size: 1.7em;
    margin-top: 0.4em;
}

#copyright-section {
    font-size: 1.2em;
    color: white;
    font-weight: 400;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 950px) {
    .message-container h3 {
        font-size: 1.2em;
    }
    #send {
        width: 7em;
        height: 2.1em;
    }

    .email-me h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 750px) {
    .contact-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .message-container, .email-me-wrapper{
         width: 100%;     
    }   

    .email-me h1, .email-me h3 {
        text-align: left;
    }
    #copyright-section {
        font-size: 1em
    }
}

@media screen and (max-width: 400px) {
    .contact-footer {
        font-size: 14px;
    }
}