@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

$homecolor: #1f303d;
$aboutcolor: #233644;
$contactcolor: #233644;
$navbackground: #ffffff;


html,
body,
.scroller,
section {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(16px, 0.9vw, 32px);
}

header {
    top: 1em;
    right: 1.7em;

    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;

    a {
        font-weight: 400;
        user-select: none;
        max-width: 300px;
        width: fit-content;
        overflow: hidden;
        margin-left: 1em;
        padding: 0.5em 1em;
        background: $navbackground;
        text-decoration: none;
        color: invert($navbackground);
        border-radius: 3em;
        -webkit-border-radius: 3em;
        -moz-border-radius: 3em;
        -ms-border-radius: 3em;
        -o-border-radius: 3em;
        cursor: pointer;
        transition: max-width 0.7s ease;
        -webkit-transition: max-width 0.7s ease;
        -moz-transition: max-width 0.7s ease;
        -ms-transition: max-width 0.7s ease;
        -o-transition: max-width 0.7s ease;
    }
    a.active {
        color: #ffffff00;
        pointer-events: none;
        padding: 1em;
        max-width: 10px;
        height: 10px;
    }

    @media screen and (max-width: 900px) {
        top: unset;
        right: 1em;
        bottom: 1em;
        font-size: 0.8em;
    }

}

.scroller {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    section {
        color: white;
        position: relative;
        scroll-snap-align: start;
    }
}

.leftheader {
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 2px;
    $fontsize: 1.4em;
    font-size: $fontsize;
    position: absolute;
    top: calc((1em + 0.5em)*0.71);
    left: 2em;
    user-select: none;
    @media screen and (max-width: 900px){
        display: none;
    }
}

#home {
    background-color: $homecolor;

    display: grid;
    grid-template-columns: auto 35% 8em 33% auto;
    grid-template-rows: 2fr 5fr 3fr;

    grid-template-areas:
    ".     .         .    .         ."
    ".  imagehere    .  divspace    ."
    ".     .         .    .         .";

    .barcode {
        margin: 0;
        position: absolute;
        bottom: 0.5em;
        left: 1.4em;
        font-family: 'Libre Barcode 39', cursive;
        font-size: 1.7em;
        letter-spacing: 2px;
        color: #aaaaaa93;
    }

    img {
        height: 22em;
        width: 22em;
        grid-area: imagehere;

        justify-self: center;
        align-self: center;

        // margin-right: clamp(25px, 10vw , 200px);
        object-fit: cover;

        border: 10px solid whitesmoke;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        box-shadow: -45px 0 #92929246;

        user-select: none;

    }

    div {
        grid-area: divspace;
        display: flex;
        width: 90%;
        justify-self: left;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3em;
            margin: 0.8em 0 0.5em 0;
            font-weight: 800;
            letter-spacing: 2px;
        }

        p {
            padding: 0em 10px 0 0.5em;
            font-size: 1.1em;
            font-weight: 300;
        }

        p::before {
            font-size: 1.5em;
            width: fit-content;
            content: "」";
            display: block;
            margin-left: -0.2em;
            //position: relative;
            rotate: 90deg;
            transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        img {
            $size: calc(18vw + 7em);
            height: $size;
            width: $size;
            border: 5px solid white;
            box-shadow: -4vw 0 #92929246;
            margin-top: -10%;
        }

        .barcode{
            display: none;
            font-size: 1.4em;
        }

        div {
            align-self: center;
            width: 78%;
            max-width: 500px;

            h1 {
                font-size: calc(3vw + 1.1em);
                margin: 1em auto 20px auto ;
                letter-spacing: 1px;
            }

            p {
                font-size: 0.9em;
                margin: 0 auto;
                padding: 0;
                text-align: center;
            }

            p::before {
                display: none;
            }
        }
    }
}

#about {
    background-color: $aboutcolor;

    display: grid;
    grid-template-columns: auto 40% 30% auto;
    grid-template-rows: 1.5fr 5fr 1.7fr;

    grid-template-areas:
    ".     .        .     ."
    ".   left right   ."
    ".     .        .     .";

    .left {
        grid-area: left;
        justify-self: center;
        align-self: center;
        padding: 1em 2em 1em 1.3em;

        h2 {
            font-size: 2.5em;
            font-weight: 800;
            margin: 1em 0 1em 0;
        }
        ul {
            font-size: 1.4em;
            ::marker {
                font-size: 1.2em;
            }
            li {
                margin-bottom: 0.4em;
                padding-left: 0.3em;
            }
        }
    }

    .right {
        user-select: none;
        position: relative;
        justify-self: center;
        align-self: center;
        background-color: #1b1b1b;
        grid-area: right;
        overflow: hidden;
        height: 24em;
        width: 24em;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        img {
            position: absolute;
            top: 40%;
            left: 12%;
            width: inherit;
            height: auto;
            transform-origin: center center 0;
            rotate: -10deg;
        }
    }

    @media screen and (max-width: 900px){

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 4em;

        .left {
            justify-self: unset;
            align-self: unset;
            padding: unset;
            padding-left: 10%;
            font-size: 0.7rem;
            h2 {
                // font-size: 2em;
                margin: 0;
                padding-right: 30px;
            }
            ul{
                // font-size: 1.2em;
                padding: unset;
                margin-left: 1.2rem ;
            }
        }

        .right {
            $size: calc(27vw + 5em);
            height: $size;
            width: $size;
            border: 6px solid rgba(59, 59, 59, 0.151);
            margin-top: -10%;
        }
    }
}

#contact {
    background-color: $contactcolor;

    .cards {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        left: 40%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        .contact {
            $size: 2em;
            display: flex;
            align-items: center;
            font-size: $size;
            margin-bottom: 0.9em;

            img {
                height: $size * 0.8;
                margin-right: $size * 0.5;
                user-select: none;
            }

        }
        @media screen and (max-width: 900px){
            top: 23%;
            left: 10%;
            transform: unset;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;

            .contact{
                font-size: 1.3em;
            }
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        background-image: url("../assets/footer.svg");
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}

