@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Georgia, "Times New Roman", Times, serif;
  --back-color: rgb(29, 30, 36);
  --text-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  --html-background: rgb(143, 225, 206);
  background-color: var(--html-background);
}

html.dark {
  --html-background: rgb(1, 13, 16);
  background-color: var(--html-background);
}

*::-webkit-scrollbar {
  display: none;
}


html,
body {
  overflow: hidden;
  transition-duration: 300ms;
}

html,
body,
.scroller,
section {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.dark {
  --back-color: rgb(212, 247, 241);
  --text-color: rgb(17, 17, 17);
}

body {
  background: rgb(230, 255, 253);
  color: rgb(25, 25, 25);
}

.dark body {
  background: rgb(1, 18, 22);
  color: rgb(237, 233, 233);
}

.navigation {
  background-color: var(--back-color);
  color: var(--text-color);
  text-decoration: none;
}

.scroller {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: block mandatory;
}

.scroller section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.fade {
  transition: all 550ms ease-in;
}

.trans {
  transform: translateY(10px);
}

.fade {
  opacity: 0;
}

.show .fade {
  opacity: 1;
}

.show .trans {
  transform: translateY(0);
}

#home img {
  box-shadow: -3em 0 var(--back-color);
  box-sizing: border-box;
  margin-left: 3em;
  border-color: var(--html-background);
}

#home .barcode {
  font-family: "Libre Barcode 39";
}

#about .skill ul {
  list-style: none;

}

#about .skill li {
  border-radius: 9999px;
  width: fit-content;
  background-color: var(--back-color);
  color: var(--text-color);
  padding: 0.6em 1.2em;
  display: inline-block;
}

#about .planet {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(22, 28, 39);
  border-width: 2px;
  border-style: dashed;
  border-color: var(--back-color);
  overflow: hidden;
  flex-shrink: 0;
}

.planet img {
  position: absolute;
  top: 50%;
}

#contact>div {
  z-index: 2;
}

#contact .contact {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-bottom: 1.5em;
}

#contact .contact img {
  width: 3em;
  display: inline-block;
  filter: invert();
  margin-right: 1em;
}

.dark #contact .contact img {
  filter: unset;
}

.cardlink {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#contact .footer {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background-image: url(../assets/footer.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  filter: invert(1);
}

.dark #contact .footer {
  filter: unset;
}